$main-color: rgba(219, 148, 35, 1);

@mixin h2 {
    color: $main-color;
    font-size: 2.5rem;
    font-family: "Lobster";
    @media screen and (min-width: 768px) {
        font-size: 3.5rem;
    }
}

section.menu {

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    height: fit-content;


    >h2 {
        @include h2;
        margin-bottom: 20px;
    }

    >div {

        width: 100%;
        height: fit-content;
        display: flex;

        position: relative;
        justify-content: center;
        display: grid;



        >img {
            background-image: url(../images/logo-black.png);

            top: 0;
            bottom: 0;
            width: 100%;
            position: absolute;
            background-size: 45vw;
            z-index: -1;
            filter: opacity(0.02);


            @media screen and (min-width: 768px) {
                background-size: 12vw;
                top: -80px;
                bottom: -80px;
                filter: opacity(0.02);

            }
            background-repeat: space round;

        }

        >ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-top: 10px;
            

            @media screen and (min-width: 768px) {
                display: grid;
                //2 columns on desktop
                grid-template-columns: 1fr 1fr;
                width: 1000px;
                justify-content: center;
                max-height: 500px;
                overflow-y: auto;
                gap: 50px;


                /* ===== Scrollbar CSS ===== */
                /* Firefox */
                & {
                    scrollbar-width: auto;
                    scrollbar-color: #000000 #ffffff;
                }

                /* Chrome, Edge, and Safari */
                &::-webkit-scrollbar {
                    width: 16px;
                }

                &::-webkit-scrollbar-track {
                    background: #ffffff;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #000000;
                    border-radius: 10px;
                    border: 3px solid #ffffff;
                }
            }

            >ul.drink-type {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                >li.drink-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    

                    span.small{
                        font-size: 1rem;
                        margin-left: 10px;
                    }

                    @media screen and (min-width: 768px) {
                        margin-bottom: 10px;
                    }

                    >p {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 2rem;
                        width: 100%;
                        gap: 1rem;
                    @media screen and (min-width: 768px) {
                        justify-content: center;
                    }

                        >i {

                            font-size: 1.3rem;
                            transition: all 1s ease;

                            @media screen and (min-width: 768px) {
                                display: none;
                            }

                            &.rotated {
                                transform: rotate(90deg);
                                transition: all 1s ease;

                            }
                        }
                    }


                }

                >li.drink-offers {

                    max-height: 999px;

                    overflow: hidden;
                    transition: all 1s ease;


                    &.not-expanded {
                        max-height: 0px;
                        overflow: hidden;
                        transition: all 1s ease;


                        @media screen and (min-width: 768px) {
                            max-height: 999px;
                        }
                    }

                    >ul {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        >li {
                            display: flex;
                            flex-direction: row;
                            font-size: 1rem;
                            gap: 30px;
                            justify-content: space-between;
                            
                        }
                    }





                }

                // >p{
                //     font-size:2rem ;
                // }
                // >i{
                //     font-size: 1.5rem;
                // }
                // >li{
                //     display: none;
                //     font-size: 1rem;
                // }
            }
        }
    }
}