$main-color: rgba(219, 148, 35, 1);

@mixin h2 {
    color: $main-color;
    font-size: 2.5rem;
    font-family: "Lobster";

    @media screen and (min-width: 768px) {
        font-size: 3.5rem;
    }
}

section.open-hours {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 45px 0px;
    align-items: center;
    position: relative;
    margin-bottom: 20px;

    h2 {
        @include h2;
    }


            .bgr::before {
                content: "";
                position: absolute;
                inset: 0; // top:0; right:0; bottom:0; left:0
                background-image: url("../images/logo-black-min.png");
                background-position: 0 0;
                background-repeat: space round; // případně "space" nebo "repeat"
                background-size: 45vw;
                opacity: 0.03; // bez filter
                pointer-events: none; // neblokuje kliky
                z-index: 0;

                @media (min-width: 768px) {
                    background-size: 12vw;
                    inset: -80px 0; // přesah jako u tebe
                    opacity: 0.02;
                }
            }

    div {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row;

        }

        p {
            font-size: 2rem;
            font-weight: 600;

            @media screen and (min-width: 768px) {
                font-size: 2.5rem;
            }
        }
    }
}