// sass --watch style.scss style.css
@use "header.scss";
@use "section1.scss";
@use "section2.scss";
@use "section3.scss";
@use "section4.scss";
@use "section5.scss";
@use "footer.scss";

html,*{
    scroll-behavior: smooth !important
}
//set some basic font that supports czech characters
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
